<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>title</key>
			<string>home.news</string>
			<key>icon</key>
			<string>menu.news</string>
			<key>newspapers</key>
			<array>
				<dict>
					<key>id</key>
					<integer>0</integer>
					<key>title</key>
					<string>lemonde.fr</string>
					<key>rss</key>
					<string>https://www.lemonde.fr/rss/en_continu.xml</string>
					<key>sortKey</key>
					<integer>0</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>title</key>
					<string>lefigaro.fr</string>
					<key>rss</key>
					<string>https://www.lefigaro.fr/rss/figaro_flash-actu.xml</string>
					<key>sortKey</key>
					<integer>4</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>title</key>
					<string>linternaute.com</string>
					<key>rss</key>
					<string>https://www.linternaute.com/rss/</string>
					<key>sortKey</key>
					<integer>1</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>3</integer>
					<key>title</key>
					<string>20minutes.fr</string>
					<key>rss</key>
					<string>https://www.20minutes.fr/feeds/rss-une.xml</string>
					<key>sortKey</key>
					<integer>6</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>4</integer>
					<key>title</key>
					<string>nouvelobs.com</string>
					<key>rss</key>
					<string>http://www.nouvelobs.com/rss.xml</string>
					<key>sortKey</key>
					<integer>3</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>title</key>
					<string>lefigaro.fr</string>
					<key>rss</key>
					<string>https://www.lefigaro.fr/rss/figaro_actualites.xml</string>
					<key>sortKey</key>
					<integer>5</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>5</integer>
					<key>title</key>
					<string>francetvinfo.fr</string>
					<key>rss</key>
					<string>https://www.francetvinfo.fr/titres.rss</string>
					<key>sortKey</key>
					<integer>2</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>6</integer>
					<key>title</key>
					<string>rfi.fr</string>
					<key>rss</key>
					<string>http://www.rfi.fr/fr/rss</string>
					<key>sortKey</key>
					<integer>7</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>7</integer>
					<key>title</key>
					<string>lexpress.fr</string>
					<key>rss</key>
					<string>https://www.lexpress.fr/rss/alaune.xml</string>
					<key>sortKey</key>
					<integer>8</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>8</integer>
					<key>title</key>
					<string>ouest-france.fr</string>
					<key>rss</key>
					<string>https://www.ouest-france.fr/rss-en-continu.xml</string>
					<key>sortKey</key>
					<integer>9</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>9</integer>
					<key>title</key>
					<string>huffingtonpost.fr</string>
					<key>rss</key>
					<string>https://www.huffingtonpost.fr/feeds/index.xml</string>
					<key>sortKey</key>
					<integer>10</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>10</integer>
					<key>title</key>
					<string>lepoint.fr</string>
					<key>rss</key>
					<string>https://www.lepoint.fr/rss.xml</string>
					<key>sortKey</key>
					<integer>11</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>11</integer>
					<key>title</key>
					<string>liberation.fr</string>
					<key>rss</key>
					<string>http://rss.liberation.fr/rss/latest/</string>
					<key>sortKey</key>
					<integer>12</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>13</integer>
					<key>title</key>
					<string>ladepeche.fr</string>
					<key>rss</key>
					<string>https://www.ladepeche.fr/rss.xml</string>
					<key>sortKey</key>
					<integer>13</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>14</integer>
					<key>title</key>
					<string>mediapart.fr</string>
					<key>rss</key>
					<string>https://www.mediapart.fr/articles/feed</string>
					<key>sortKey</key>
					<integer>14</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>41</integer>
					<key>title</key>
					<string>ledauphine.com</string>
					<key>rss</key>
					<string>https://www.ledauphine.com/actualite/a-la-une/rss</string>
					<key>sortKey</key>
					<integer>15</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>42</integer>
					<key>title</key>
					<string>planet.fr</string>
					<key>rss</key>
					<string>https://www.planet.fr/taxonomy/term/1464/feed</string>
					<key>sortKey</key>
					<integer>16</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>43</integer>
					<key>title</key>
					<string>jeanmarcmorandini.com</string>
					<key>rss</key>
					<string>https://www.jeanmarcmorandini.com/rss.php</string>
					<key>sortKey</key>
					<integer>17</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>44</integer>
					<key>title</key>
					<string>parismatch.com</string>
					<key>rss</key>
					<string>https://cdn1-parismatch.lanmedia.fr/var/exports/rss/rss-actu.xml</string>
					<key>sortKey</key>
					<integer>18</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>45</integer>
					<key>title</key>
					<string>latribune.fr</string>
					<key>rss</key>
					<string>https://www.latribune.fr/feed.xml</string>
					<key>sortKey</key>
					<integer>19</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>46</integer>
					<key>title</key>
					<string>courrierinternational.com</string>
					<key>rss</key>
					<string>https://www.courrierinternational.com/feed/all/rss.xml</string>
					<key>sortKey</key>
					<integer>20</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>47</integer>
					<key>title</key>
					<string>midilibre.fr</string>
					<key>rss</key>
					<string>https://www.midilibre.fr/rss.xml</string>
					<key>sortKey</key>
					<integer>21</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>title</key>
					<string>fdesouche.com</string>
					<key>rss</key>
					<string>http://www.fdesouche.com/feed</string>
					<key>sortKey</key>
					<integer>22</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>49</integer>
					<key>title</key>
					<string>leprogres.fr</string>
					<key>rss</key>
					<string>https://www.leprogres.fr/rss</string>
					<key>sortKey</key>
					<integer>23</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>title</key>
			<string>home.interest</string>
			<key>icon</key>
			<string>menu.interest</string>
			<key>newspapers</key>
			<array>
				<dict>
					<key>id</key>
					<integer>28</integer>
					<key>title</key>
					<string>purepeople.com</string>
					<key>rss</key>
					<string>https://www.purepeople.com/rss/news_t0.xml</string>
					<key>sortKey</key>
					<integer>0</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>20</integer>
					<key>title</key>
					<string>clubic.com</string>
					<key>rss</key>
					<string>https://www.clubic.com/feed/news.rss</string>
					<key>sortKey</key>
					<integer>1</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>21</integer>
					<key>title</key>
					<string>journaldunet.com</string>
					<key>rss</key>
					<string>https://www.journaldunet.com/rss/</string>
					<key>sortKey</key>
					<integer>2</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>22</integer>
					<key>title</key>
					<string>cnetfrance.fr</string>
					<key>rss</key>
					<string>https://www.cnetfrance.fr/feeds/rss/</string>
					<key>sortKey</key>
					<integer>3</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>29</integer>
					<key>title</key>
					<string>closermag.fr</string>
					<key>rss</key>
					<string>https://www.closermag.fr/rss</string>
					<key>sortKey</key>
					<integer>5</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>title</key>
					<string>public.fr</string>
					<key>rss</key>
					<string>https://cdn2-public.ladmedia.fr/var/exports/rss_news.xml</string>
					<key>sortKey</key>
					<integer>6</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>title</key>
					<string>non-stop-people.com</string>
					<key>rss</key>
					<string>http://www.non-stop-people.com/rss.xml</string>
					<key>sortKey</key>
					<integer>7</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>70</integer>
					<key>title</key>
					<string>potins.net</string>
					<key>rss</key>
					<string>https://www.potins.net/feed</string>
					<key>sortKey</key>
					<integer>8</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>15</integer>
					<key>title</key>
					<string>futura-sciences.com</string>
					<key>rss</key>
					<string>https://www.futura-sciences.com/rss/actualites.xml</string>
					<key>sortKey</key>
					<integer>9</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>16</integer>
					<key>title</key>
					<string>cnrs.fr</string>
					<key>rss</key>
					<string>https://news.cnrs.fr/rss</string>
					<key>sortKey</key>
					<integer>10</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>17</integer>
					<key>title</key>
					<string>hypotheses.org</string>
					<key>rss</key>
					<string>https://hypotheses.org/feed</string>
					<key>sortKey</key>
					<integer>11</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>18</integer>
					<key>title</key>
					<string>inria.fr</string>
					<key>rss</key>
					<string>https://www.inria.fr/actualite/actualites-inria/(view_mode)/rss</string>
					<key>sortKey</key>
					<integer>12</integer>
					<key>deprecated</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>23</integer>
					<key>title</key>
					<string>macg.co</string>
					<key>rss</key>
					<string>https://www.macg.co/news/feed</string>
					<key>sortKey</key>
					<integer>13</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>24</integer>
					<key>title</key>
					<string>hitek.fr</string>
					<key>rss</key>
					<string>https://hitek.fr/rss</string>
					<key>sortKey</key>
					<integer>14</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>25</integer>
					<key>title</key>
					<string>numerama.com</string>
					<key>rss</key>
					<string>https://www.numerama.com/feed/</string>
					<key>sortKey</key>
					<integer>15</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>26</integer>
					<key>title</key>
					<string>begeek.fr</string>
					<key>rss</key>
					<string>https://www.begeek.fr/feed</string>
					<key>sortKey</key>
					<integer>16</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>icon</key>
			<string>menu.sport</string>
			<key>title</key>
			<string>home.sport</string>
			<key>newspapers</key>
			<array>
				<dict>
					<key>id</key>
					<integer>30</integer>
					<key>title</key>
					<string>lemonde.fr</string>
					<key>rss</key>
					<string>https://www.lemonde.fr/sport/rss_full.xml</string>
					<key>sortKey</key>
					<integer>0</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>31</integer>
					<key>title</key>
					<string>lequipe.fr</string>
					<key>rss</key>
					<string>https://www.lequipe.fr/rss/flashlequipe_podcast.xml</string>
					<key>sortKey</key>
					<integer>1</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>32</integer>
					<key>title</key>
					<string>eurosport.fr</string>
					<key>rss</key>
					<string>https://www.eurosport.fr/rss.xml</string>
					<key>sortKey</key>
					<integer>2</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>33</integer>
					<key>title</key>
					<string>footmercato.net</string>
					<key>rss</key>
					<string>http://www.footmercato.net/flux-rss</string>
					<key>sortKey</key>
					<integer>3</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>34</integer>
					<key>title</key>
					<string>rugbyrama.fr</string>
					<key>rss</key>
					<string>https://www.rugbyrama.fr/rss.xml</string>
					<key>sortKey</key>
					<integer>4</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>36</integer>
					<key>title</key>
					<string>sports.fr</string>
					<key>rss</key>
					<string>https://www.sports.fr/feed</string>
					<key>sortKey</key>
					<integer>6</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>58</integer>
					<key>title</key>
					<string>sofoot.com</string>
					<key>rss</key>
					<string>http://feeds.feedburner.com/SoFoot</string>
					<key>sortKey</key>
					<integer>7</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>59</integer>
					<key>title</key>
					<string>football365.fr</string>
					<key>rss</key>
					<string>https://www.football365.fr/feed</string>
					<key>sortKey</key>
					<integer>8</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>60</integer>
					<key>title</key>
					<string>le10sport.com</string>
					<key>rss</key>
					<string>https://le10sport.com/fr/rss/football/</string>
					<key>sortKey</key>
					<integer>9</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>61</integer>
					<key>title</key>
					<string>lerugbynistere.fr</string>
					<key>rss</key>
					<string>https://www.lerugbynistere.fr/rss.php</string>
					<key>sortKey</key>
					<integer>10</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>62</integer>
					<key>title</key>
					<string>foot01.com</string>
					<key>rss</key>
					<string>https://www.foot01.com/news.rss</string>
					<key>sortKey</key>
					<integer>11</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>63</integer>
					<key>title</key>
					<string>football.fr</string>
					<key>rss</key>
					<string>http://www.football.fr/fr/footballfr/cmc/scanner/rss2.xml</string>
					<key>sortKey</key>
					<integer>12</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>title</key>
					<string>basketusa.com</string>
					<key>rss</key>
					<string>https://www.basketusa.com/feed/</string>
					<key>sortKey</key>
					<integer>13</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>title</key>
					<string>motorsport.nextgen-auto.com</string>
					<key>rss</key>
					<string>https://motorsport.nextgen-auto.com/?page=backend</string>
					<key>sortKey</key>
					<integer>14</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>66</integer>
					<key>title</key>
					<string>foot-national.com</string>
					<key>rss</key>
					<string>http://www.foot-national.com/flux.xml</string>
					<key>sortKey</key>
					<integer>15</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>title</key>
					<string>sport.fr</string>
					<key>rss</key>
					<string>https://www.sport.fr/feed</string>
					<key>sortKey</key>
					<integer>16</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>title</key>
			<string>home.womans</string>
			<key>icon</key>
			<string>menu.womans</string>
			<key>newspapers</key>
			<array>
				<dict>
					<key>id</key>
					<integer>37</integer>
					<key>title</key>
					<string>aufeminin.com</string>
					<key>rss</key>
					<string>https://www.aufeminin.com/feed</string>
					<key>sortKey</key>
					<integer>0</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>38</integer>
					<key>title</key>
					<string>journaldesfemmes.fr</string>
					<key>rss</key>
					<string>https://www.journaldesfemmes.fr/rss</string>
					<key>sortKey</key>
					<integer>1</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>39</integer>
					<key>title</key>
					<string>elle.fr</string>
					<key>rss</key>
					<string>https://cdn-elle.ladmedia.fr/var/plain_site/storage/flux_rss/fluxToutELLEfr.xml</string>
					<key>sortKey</key>
					<integer>2</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>40</integer>
					<key>title</key>
					<string>madmoizelle.com</string>
					<key>rss</key>
					<string>https://feedpress.me/madmoiZelle</string>
					<key>sortKey</key>
					<integer>3</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>51</integer>
					<key>title</key>
					<string>parents.fr</string>
					<key>rss</key>
					<string>https://www.parents.fr/feeds/rss</string>
					<key>sortKey</key>
					<integer>5</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>52</integer>
					<key>title</key>
					<string>wearedore.com</string>
					<key>rss</key>
					<string>https://www.wearedore.com/feed/</string>
					<key>sortKey</key>
					<integer>6</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>53</integer>
					<key>title</key>
					<string>grazia.fr</string>
					<key>rss</key>
					<string>https://www.grazia.fr/rss</string>
					<key>sortKey</key>
					<integer>7</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>54</integer>
					<key>title</key>
					<string>teteamodeler.com</string>
					<key>rss</key>
					<string>https://www.teteamodeler.com/html/rss.php</string>
					<key>sortKey</key>
					<integer>8</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>55</integer>
					<key>title</key>
					<string>vivelesrondes.com</string>
					<key>rss</key>
					<string>https://feeds.feedburner.com/vivelesrondes/mag</string>
					<key>sortKey</key>
					<integer>9</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>56</integer>
					<key>title</key>
					<string>sobusygirls.fr</string>
					<key>rss</key>
					<string>https://sobusygirls.fr/feed/</string>
					<key>sortKey</key>
					<integer>10</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>57</integer>
					<key>title</key>
					<string>nouvelobs.com</string>
					<key>rss</key>
					<string>https://www.nouvelobs.com/a-la-une/rss.xml</string>
					<key>sortKey</key>
					<integer>11</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</array>
</plist>
