<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>title</key>
		<string>home.news</string>
		<key>icon</key>
		<string>menu.news</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>title</key>
				<string>welt.de</string>
				<key>rss</key>
				<string>http://www.welt.de/?service=Rss</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>8</integer>
				<key>title</key>
				<string>huffpost.com</string>
				<key>rss</key>
				<string>https://www.huffingtonpost.de/feeds/index.xml</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>title</key>
				<string>spiegel.de</string>
				<key>rss</key>
				<string>http://www.spiegel.de/schlagzeilen/tops/index.rss</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>7</integer>
				<key>title</key>
				<string>sueddeutsche.de</string>
				<key>rss</key>
				<string>http://rss.sueddeutsche.de/rss/Topthemen</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>9</integer>
				<key>title</key>
				<string>rp-online.de</string>
				<key>rss</key>
				<string>https://rp-online.de/feed.rss</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>10</integer>
				<key>title</key>
				<string>tagesspiegel.de</string>
				<key>rss</key>
				<string>http://www.tagesspiegel.de/contentexport/feed/home</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>title</key>
				<string>bild.de</string>
				<key>rss</key>
				<string>https://www.bild.de/rssfeeds/vw-home/vw-home-16725562,dzbildplus=true,sort=1,teaserbildmobil=false,view=rss2.bild.xml</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>title</key>
				<string>focus.de</string>
				<key>rss</key>
				<string>http://rss.focus.de/fol/XML/rss_folnews_eilmeldungen.xml</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>4</integer>
				<key>title</key>
				<string>zeit.de</string>
				<key>rss</key>
				<string>http://newsfeed.zeit.de/index</string>
				<key>sortKey</key>
				<integer>8</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>5</integer>
				<key>title</key>
				<string>faz.de</string>
				<key>rss</key>
				<string>http://www.faz.net/rss/aktuell</string>
				<key>sortKey</key>
				<integer>9</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>6</integer>
				<key>title</key>
				<string>tagesschau.de</string>
				<key>rss</key>
				<string>http://www.tagesschau.de/xml/atom</string>
				<key>sortKey</key>
				<integer>10</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>11</integer>
				<key>title</key>
				<string>bz-berlin.de</string>
				<key>rss</key>
				<string>https://www.bz-berlin.de/feed</string>
				<key>sortKey</key>
				<integer>11</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>12</integer>
				<key>title</key>
				<string>zdf.de</string>
				<key>rss</key>
				<string>https://www.zdf.de/rss/zdf/nachrichten</string>
				<key>sortKey</key>
				<integer>12</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>13</integer>
				<key>title</key>
				<string>merkur.de</string>
				<key>rss</key>
				<string>https://www.merkur.de/rssfeed.rdf</string>
				<key>sortKey</key>
				<integer>13</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>14</integer>
				<key>title</key>
				<string>jungefreiheit.de</string>
				<key>rss</key>
				<string>https://jungefreiheit.de/feed/</string>
				<key>sortKey</key>
				<integer>14</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>15</integer>
				<key>title</key>
				<string>n24.de</string>
				<key>rss</key>
				<string>http://feeds.n24.de/n24/homepage?format=xml</string>
				<key>sortKey</key>
				<integer>15</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>16</integer>
				<key>title</key>
				<string>n-tv.de</string>
				<key>rss</key>
				<string>http://www.n-tv.de/rss</string>
				<key>sortKey</key>
				<integer>16</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>17</integer>
				<key>title</key>
				<string>handelsblatt.de</string>
				<key>rss</key>
				<string>http://www.handelsblatt.com/contentexport/feed/schlagzeilen</string>
				<key>sortKey</key>
				<integer>17</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>18</integer>
				<key>title</key>
				<string>kn-online.de</string>
				<key>rss</key>
				<string>http://www.kn-online.de/rss/feed/kn_schlagzeilen</string>
				<key>sortKey</key>
				<integer>18</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>home.interest</string>
		<key>icon</key>
		<string>menu.interest</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>19</integer>
				<key>title</key>
				<string>stern.de</string>
				<key>rss</key>
				<string>http://www.stern.de/feed/standard/all</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>20</integer>
				<key>title</key>
				<string>promiflash.de</string>
				<key>rss</key>
				<string>https://www.promiflash.de/feed/</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>21</integer>
				<key>title</key>
				<string>tz.de</string>
				<key>rss</key>
				<string>https://www.tz.de/rssfeed.rdf</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>22</integer>
				<key>title</key>
				<string>web.de</string>
				<key>rss</key>
				<string>http://web.de/feeds/rss/magazine/news/index.rss</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>24</integer>
				<key>title</key>
				<string>chip.de</string>
				<key>rss</key>
				<string>http://www.chip.de/rss/rss_topnews.xml</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>25</integer>
				<key>title</key>
				<string>computerbild.de</string>
				<key>rss</key>
				<string>https://www.computerbild.de/rssfeed_2261.html</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>26</integer>
				<key>title</key>
				<string>gala.de</string>
				<key>rss</key>
				<string>http://www.gala.de/feed/standard-rss/</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>27</integer>
				<key>title</key>
				<string>giga.de</string>
				<key>rss</key>
				<string>http://www.giga.de/feed</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>28</integer>
				<key>title</key>
				<string>ok-magazin.de</string>
				<key>rss</key>
				<string>https://www.ok-magazin.de/rss</string>
				<key>sortKey</key>
				<integer>8</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>29</integer>
				<key>title</key>
				<string>wiwo.de</string>
				<key>rss</key>
				<string>http://www.wiwo.de/contentexport/feed/rss/schlagzeilen</string>
				<key>sortKey</key>
				<integer>9</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>30</integer>
				<key>title</key>
				<string>taz.de</string>
				<key>rss</key>
				<string>http://taz.de/Themen-des-Tages/!p15;rss/</string>
				<key>sortKey</key>
				<integer>10</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>31</integer>
				<key>title</key>
				<string>planet-wissen.de</string>
				<key>rss</key>
				<string>https://www.planet-wissen.de/planetwissenindex100.feed</string>
				<key>sortKey</key>
				<integer>11</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>32</integer>
				<key>title</key>
				<string>macerkopf.de</string>
				<key>rss</key>
				<string>http://www.macerkopf.de/feed</string>
				<key>sortKey</key>
				<integer>12</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>33</integer>
				<key>title</key>
				<string>freitag.de</string>
				<key>rss</key>
				<string>https://www.freitag.de/@@RSS</string>
				<key>sortKey</key>
				<integer>13</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>34</integer>
				<key>title</key>
				<string>cicero.de</string>
				<key>rss</key>
				<string>http://www.cicero.de/rss.xml</string>
				<key>sortKey</key>
				<integer>14</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>35</integer>
				<key>title</key>
				<string>heise.de</string>
				<key>rss</key>
				<string>https://www.heise.de/newsticker/heise-atom.xml</string>
				<key>sortKey</key>
				<integer>15</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>36</integer>
				<key>title</key>
				<string>psyheu.de</string>
				<key>rss</key>
				<string>http://www.psyheu.de/feed</string>
				<key>sortKey</key>
				<integer>16</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>37</integer>
				<key>title</key>
				<string>deutsche-startups.de</string>
				<key>rss</key>
				<string>http://www.deutsche-startups.de/feed/</string>
				<key>sortKey</key>
				<integer>17</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>38</integer>
				<key>title</key>
				<string>wissenschaft.de</string>
				<key>rss</key>
				<string>https://www.wissenschaft.de/feed-wissenschaft</string>
				<key>sortKey</key>
				<integer>18</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>icon</key>
		<string>menu.sport</string>
		<key>title</key>
		<string>home.sport</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>39</integer>
				<key>title</key>
				<string>kicker.de</string>
				<key>rss</key>
				<string>http://rss.kicker.de/news/aktuell</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>40</integer>
				<key>title</key>
				<string>sport1.de</string>
				<key>rss</key>
				<string>http://www.sport1.de/news.rss</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>41</integer>
				<key>title</key>
				<string>sportschau.de</string>
				<key>rss</key>
				<string>https://www.sportschau.de//sportschauindex100~_type-rss.feed</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>42</integer>
				<key>title</key>
				<string>rallye-magazin.de</string>
				<key>rss</key>
				<string>https://www.rallye-magazin.de/feeds/rss2/rss.xml</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>43</integer>
				<key>title</key>
				<string>spox.com</string>
				<key>rss</key>
				<string>http://www.spox.com/pub/rss/sport.xml</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>44</integer>
				<key>title</key>
				<string>formel1.de</string>
				<key>rss</key>
				<string>https://www.formel1.de/rss/news/feed.xml</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>title</key>
		<string>home.womans</string>
		<key>icon</key>
		<string>menu.womans</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>45</integer>
				<key>title</key>
				<string>brigitte.de</string>
				<key>rss</key>
				<string>http://www.brigitte.de/feed.rss</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>46</integer>
				<key>title</key>
				<string>gofeminin.de</string>
				<key>rss</key>
				<string>https://www.gofeminin.de/feed</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>47</integer>
				<key>title</key>
				<string>glamour.de</string>
				<key>rss</key>
				<string>http://www.glamour.de/rss/feed/all</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>48</integer>
				<key>title</key>
				<string>sister-mag.de</string>
				<key>rss</key>
				<string>http://www.sister-mag.com/rss</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
