<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>title</key>
		<string>home.news</string>
		<key>icon</key>
		<string>menu.news</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>title</key>
				<string>diepresse.at</string>
				<key>rss</key>
				<string>http://diepresse.com/rss//home</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>title</key>
				<string>kurier.at</string>
				<key>rss</key>
				<string>https://kurier.at/xml/rss</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>title</key>
				<string>heute.at</string>
				<key>rss</key>
				<string>http://api.heute.at/rss/view/1</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>title</key>
				<string>orf.at</string>
				<key>rss</key>
				<string>https://rss.orf.at/news.xml</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>4</integer>
				<key>title</key>
				<string>derstandard.at</string>
				<key>rss</key>
				<string>https://derstandard.at/?page=rss</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>41</integer>
				<key>title</key>
				<string>meinbezirk.at</string>
				<key>rss</key>
				<string>https://www.meinbezirk.at/rss</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>5</integer>
				<key>title</key>
				<string>krone.at</string>
				<key>rss</key>
				<string>https://api.krone.at/v1/rss/rssfeed.html</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>6</integer>
				<key>title</key>
				<string>kleinezeitung.at</string>
				<key>rss</key>
				<string>https://www.kleinezeitung.at/rss/nachrichten_stmk</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>7</integer>
				<key>title</key>
				<string>tt.com</string>
				<key>rss</key>
				<string>https://www.tt.com/rss/news.xml</string>
				<key>sortKey</key>
				<integer>8</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>8</integer>
				<key>title</key>
				<string>nachrichten.at</string>
				<key>rss</key>
				<string>https://www.nachrichten.at/storage/rss/rss/nachrichten.xml</string>
				<key>sortKey</key>
				<integer>9</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>9</integer>
				<key>title</key>
				<string>sn.at</string>
				<key>rss</key>
				<string>https://www.sn.at/xml/rss</string>
				<key>sortKey</key>
				<integer>10</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>10</integer>
				<key>title</key>
				<string>wienerzeitung.at</string>
				<key>rss</key>
				<string>https://www.wienerzeitung.at/_export/site_rss/wzo/index.rss</string>
				<key>sortKey</key>
				<integer>11</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>11</integer>
				<key>title</key>
				<string>dietagespresse.com</string>
				<key>rss</key>
				<string>https://dietagespresse.com/feed/</string>
				<key>sortKey</key>
				<integer>12</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>12</integer>
				<key>title</key>
				<string>ots.at</string>
				<key>rss</key>
				<string>https://www.ots.at/rss/index</string>
				<key>sortKey</key>
				<integer>13</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>13</integer>
				<key>title</key>
				<string>salzburg24.at</string>
				<key>rss</key>
				<string>https://www.salzburg24.at/xml/rss</string>
				<key>sortKey</key>
				<integer>14</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>14</integer>
				<key>title</key>
				<string>profil.at</string>
				<key>rss</key>
				<string>https://profil.podigee.io/feed/mp3</string>
				<key>sortKey</key>
				<integer>15</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>15</integer>
				<key>title</key>
				<string>salzi.at</string>
				<key>rss</key>
				<string>https://www.salzi.at/feed/</string>
				<key>sortKey</key>
				<integer>16</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>home.interest</string>
		<key>icon</key>
		<string>menu.interest</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>16</integer>
				<key>title</key>
				<string>thelocal.at</string>
				<key>rss</key>
				<string>https://feeds.thelocal.com/rss/at</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>21</integer>
				<key>title</key>
				<string>vol.at</string>
				<key>rss</key>
				<string>https://www.vol.at/rss</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>19</integer>
				<key>title</key>
				<string>k.at</string>
				<key>rss</key>
				<string>https://k.at/xml/rss</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>17</integer>
				<key>title</key>
				<string>industriemagazin.at</string>
				<key>rss</key>
				<string>https://industriemagazin.at/rss.xml</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>18</integer>
				<key>title</key>
				<string>chip.de</string>
				<key>rss</key>
				<string>http://www.chip.de/rss/rss_topnews.xml</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>20</integer>
				<key>title</key>
				<string>computerbild.de</string>
				<key>rss</key>
				<string>https://www.computerbild.de/rssfeed_2261.html</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>22</integer>
				<key>title</key>
				<string>watson.de</string>
				<key>rss</key>
				<string>https://www.watson.de/api/1.0/rss/index.xml</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>23</integer>
				<key>title</key>
				<string>mimikama.at</string>
				<key>rss</key>
				<string>https://www.mimikama.at/feed/</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>24</integer>
				<key>title</key>
				<string>netzwelt.de</string>
				<key>rss</key>
				<string>http://feeds.feedburner.com/netzwelt</string>
				<key>sortKey</key>
				<integer>8</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>25</integer>
				<key>title</key>
				<string>e-recht24.de</string>
				<key>rss</key>
				<string>http://feeds.feedburner.com/erecht24</string>
				<key>sortKey</key>
				<integer>9</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>26</integer>
				<key>title</key>
				<string>finanzen.net</string>
				<key>rss</key>
				<string>https://www.finanzen.net/rss/news</string>
				<key>sortKey</key>
				<integer>10</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>icon</key>
		<string>menu.sport</string>
		<key>title</key>
		<string>home.sport</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>27</integer>
				<key>title</key>
				<string>laola1.at</string>
				<key>rss</key>
				<string>https://www.laola1.at/templates/generated/1/xml/rss/newsRSS.xml</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>28</integer>
				<key>title</key>
				<string>orf.at</string>
				<key>rss</key>
				<string>https://rss.orf.at/sport.xml</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>29</integer>
				<key>title</key>
				<string>transfermarkt.at</string>
				<key>rss</key>
				<string>https://www.transfermarkt.at/rss/news</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>30</integer>
				<key>title</key>
				<string>derstandard.at</string>
				<key>rss</key>
				<string>https://derstandard.at/?page=rss&amp;ressort=sport</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>31</integer>
				<key>title</key>
				<string>skysportaustria.at</string>
				<key>rss</key>
				<string>https://www.skysportaustria.at/feed/</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>32</integer>
				<key>title</key>
				<string>spox.com</string>
				<key>rss</key>
				<string>http://www.spox.com/pub/rss/sport.xml</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>33</integer>
				<key>title</key>
				<string>kicker.de</string>
				<key>rss</key>
				<string>http://rss.kicker.de/news/aktuell</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>34</integer>
				<key>title</key>
				<string>motorsport-total.com</string>
				<key>rss</key>
				<string>https://www.motorsport-total.com/rss/rss.xml</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>35</integer>
				<key>title</key>
				<string>bundesliga.at</string>
				<key>rss</key>
				<string>https://www.bundesliga.at/templates/generated/1/raw/feed_all.xml</string>
				<key>sortKey</key>
				<integer>8</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>36</integer>
				<key>title</key>
				<string>formel1.de</string>
				<key>rss</key>
				<string>https://www.formel1.de/rss/news/feed.xml</string>
				<key>sortKey</key>
				<integer>9</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>title</key>
		<string>home.womans</string>
		<key>icon</key>
		<string>menu.womans</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>37</integer>
				<key>title</key>
				<string>brigitte.de</string>
				<key>rss</key>
				<string>https://www.brigitte.de/feed.rss</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>38</integer>
				<key>title</key>
				<string>austrianbusinesswoman.at</string>
				<key>rss</key>
				<string>http://austrianbusinesswoman.at/index.php?format=feed</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>39</integer>
				<key>title</key>
				<string>glamour.de</string>
				<key>rss</key>
				<string>http://www.glamour.de/rss/feed/all</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>40</integer>
				<key>title</key>
				<string>gofeminin.de</string>
				<key>rss</key>
				<string>https://www.gofeminin.de/feed</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
