<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>title</key>
			<string>home.news</string>
			<key>icon</key>
			<string>menu.news</string>
			<key>newspapers</key>
			<array>
				<dict>
					<key>id</key>
					<integer>0</integer>
					<key>title</key>
					<string>tvnoviny.sk</string>
					<key>rss</key>
					<string>http://tvnoviny.sk/rss</string>
					<key>sortKey</key>
					<integer>0</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>title</key>
					<string>dennikn.sk</string>
					<key>rss</key>
					<string>https://dennikn.sk/feed</string>
					<key>sortKey</key>
					<integer>1</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>35</integer>
					<key>title</key>
					<string>tyzden.sk</string>
					<key>rss</key>
					<string>https://www.tyzden.sk/feed/</string>
					<key>sortKey</key>
					<integer>1</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>title</key>
					<string>sme.sk</string>
					<key>rss</key>
					<string>http://rss.sme.sk/rss/rss.asp?id=frontpage</string>
					<key>sortKey</key>
					<integer>2</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>36</integer>
					<key>title</key>
					<string>noviny.sk</string>
					<key>rss</key>
					<string>https://www.noviny.sk/feed/rss2/noviny-1</string>
					<key>sortKey</key>
					<integer>3</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>3</integer>
					<key>title</key>
					<string>pravda.sk</string>
					<key>rss</key>
					<string>http://spravy.pravda.sk/rss/xml</string>
					<key>sortKey</key>
					<integer>4</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>4</integer>
					<key>title</key>
					<string>hnonline.sk</string>
					<key>rss</key>
					<string>http://hnonline.sk/rss/1</string>
					<key>sortKey</key>
					<integer>5</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>5</integer>
					<key>title</key>
					<string>pluska.sk</string>
					<key>rss</key>
					<string>http://www.pluska.sk/rss-spravy.xml</string>
					<key>sortKey</key>
					<integer>6</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>6</integer>
					<key>title</key>
					<string>webnoviny.sk</string>
					<key>rss</key>
					<string>http://www.webnoviny.sk/rss/clanky-img</string>
					<key>sortKey</key>
					<integer>7</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>7</integer>
					<key>title</key>
					<string>aktuality.sk</string>
					<key>rss</key>
					<string>http://www.aktuality.sk/rss</string>
					<key>sortKey</key>
					<integer>8</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>8</integer>
					<key>title</key>
					<string>ta3.sk</string>
					<key>rss</key>
					<string>http://www.ta3.com/rss/all/vsetky-novinky.html</string>
					<key>sortKey</key>
					<integer>9</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>9</integer>
					<key>title</key>
					<string>hlavnespravy.sk</string>
					<key>rss</key>
					<string>http://www.hlavnespravy.sk/feed/</string>
					<key>sortKey</key>
					<integer>10</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>10</integer>
					<key>title</key>
					<string>europskenoviny.sk</string>
					<key>rss</key>
					<string>https://europskenoviny.sk/feed/</string>
					<key>sortKey</key>
					<integer>11</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>title</key>
			<string>home.interest</string>
			<key>icon</key>
			<string>menu.interest</string>
			<key>newspapers</key>
			<array>
				<dict>
					<key>id</key>
					<integer>11</integer>
					<key>title</key>
					<string>dobrenoviny.sk</string>
					<key>rss</key>
					<string>http://www.dobrenoviny.sk/rss</string>
					<key>sortKey</key>
					<integer>3</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>12</integer>
					<key>title</key>
					<string>refresher.sk</string>
					<key>rss</key>
					<string>http://refresher.cz/rss</string>
					<key>sortKey</key>
					<integer>0</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>13</integer>
					<key>title</key>
					<string>startitup.sk</string>
					<key>rss</key>
					<string>http://www.startitup.sk/feed</string>
					<key>sortKey</key>
					<integer>4</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>14</integer>
					<key>title</key>
					<string>zdolahore.sk</string>
					<key>rss</key>
					<string>http://www.zdolahore.sk/feed</string>
					<key>sortKey</key>
					<integer>3</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>15</integer>
					<key>title</key>
					<string>zive.sk</string>
					<key>rss</key>
					<string>http://www.zive.sk/rss/najnovsie</string>
					<key>sortKey</key>
					<integer>1</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>16</integer>
					<key>title</key>
					<string>badatel.net</string>
					<key>rss</key>
					<string>http://www.badatel.net/feed</string>
					<key>sortKey</key>
					<integer>9</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>17</integer>
					<key>title</key>
					<string>letemsvetemapplem.eu</string>
					<key>rss</key>
					<string>http://letemsvetemapplem.eu/feed.xml</string>
					<key>sortKey</key>
					<integer>6</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>18</integer>
					<key>title</key>
					<string>cas.sk</string>
					<key>rss</key>
					<string>http://www.cas.sk/rss</string>
					<key>sortKey</key>
					<integer>2</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>19</integer>
					<key>title</key>
					<string>etrend.sk</string>
					<key>rss</key>
					<string>http://www.etrend.sk/rss/etrend.xml</string>
					<key>sortKey</key>
					<integer>8</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>20</integer>
					<key>title</key>
					<string>topky.sk</string>
					<key>rss</key>
					<string>http://www.topky.sk/rss/8/Topky</string>
					<key>sortKey</key>
					<integer>3</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>31</integer>
					<key>title</key>
					<string>interez.sk</string>
					<key>rss</key>
					<string>https://www.interez.sk/feed/</string>
					<key>sortKey</key>
					<integer>5</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>34</integer>
					<key>title</key>
					<string>mobil.sk</string>
					<key>rss</key>
					<string>https://mobil.sk/rss/</string>
					<key>sortKey</key>
					<integer>3</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>40</integer>
					<key>title</key>
					<string>TECHBYTE.sk</string>
					<key>rss</key>
					<string>https://www.techbyte.sk/feed/</string>
					<key>sortKey</key>
					<integer>1</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>icon</key>
			<string>menu.sport</string>
			<key>title</key>
			<string>home.sport</string>
			<key>newspapers</key>
			<array>
				<dict>
					<key>id</key>
					<integer>21</integer>
					<key>title</key>
					<string>sport.sk</string>
					<key>rss</key>
					<string>http://sport.aktuality.sk/rss</string>
					<key>sortKey</key>
					<integer>0</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>37</integer>
					<key>title</key>
					<string>huste.tv</string>
					<key>rss</key>
					<string>https://huste.joj.sk/feed/rss2/huste-1</string>
					<key>sortKey</key>
					<integer>1</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>29</integer>
					<key>title</key>
					<string>f1.sk</string>
					<key>rss</key>
					<string>https://f1.sk/rss/</string>
					<key>sortKey</key>
					<integer>3</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>30</integer>
					<key>title</key>
					<string>premiership.efotbal.cz</string>
					<key>rss</key>
					<string>http://premiership.efotbal.cz/rss.php</string>
					<key>sortKey</key>
					<integer>4</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>22</integer>
					<key>title</key>
					<string>hokej.sk</string>
					<key>rss</key>
					<string>https://hokej.sk/rss/</string>
					<key>sortKey</key>
					<integer>5</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>24</integer>
					<key>title</key>
					<string>sport.sme.sk</string>
					<key>rss</key>
					<string>http://rss.sme.sk/rss/rss.asp?sek=sport</string>
					<key>sortKey</key>
					<integer>2</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>32</integer>
					<key>title</key>
					<string>profutbal.sk</string>
					<key>rss</key>
					<string>https://profutbal.sk/rss/</string>
					<key>sortKey</key>
					<integer>6</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>title</key>
			<string>home.womans</string>
			<key>icon</key>
			<string>menu.womans</string>
			<key>newspapers</key>
			<array>
				<dict>
					<key>id</key>
					<integer>25</integer>
					<key>title</key>
					<string>diva.sk</string>
					<key>rss</key>
					<string>http://diva.aktuality.sk/rss</string>
					<key>sortKey</key>
					<integer>0</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>26</integer>
					<key>title</key>
					<string>eva.sk</string>
					<key>rss</key>
					<string>https://eva.pluska.sk/rss.xml</string>
					<key>sortKey</key>
					<integer>1</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>27</integer>
					<key>title</key>
					<string>zivot.sk</string>
					<key>rss</key>
					<string>https://zivot.pluska.sk/rss.xml</string>
					<key>sortKey</key>
					<integer>2</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>28</integer>
					<key>title</key>
					<string>magickazena.sk</string>
					<key>rss</key>
					<string>http://www.magickazena.sk/feed</string>
					<key>sortKey</key>
					<integer>3</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>id</key>
					<integer>33</integer>
					<key>title</key>
					<string>beauty.sk</string>
					<key>rss</key>
					<string>https://beauty.sk/rss/</string>
					<key>sortKey</key>
					<integer>3</integer>
					<key>deprecated</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</array>
</plist>
