<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>title</key>
		<string>home.news</string>
		<key>icon</key>
		<string>menu.news</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>title</key>
				<string>elpais.es</string>
				<key>rss</key>
				<string>http://ep00.epimg.net/rss/elpais/portada.xml</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>title</key>
				<string>elmundo.es</string>
				<key>rss</key>
				<string>http://estaticos.elmundo.es/elmundo/rss/portada.xml</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>title</key>
				<string>abc.es</string>
				<key>rss</key>
				<string>https://www.abc.es/rss/feeds/abc_ultima.xml</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>title</key>
				<string>20minutos.es</string>
				<key>rss</key>
				<string>http://www.20minutos.es/rss</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>4</integer>
				<key>title</key>
				<string>larazon.es</string>
				<key>rss</key>
				<string>https://www.larazon.es/rss/espana.xml</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>5</integer>
				<key>title</key>
				<string>elcorreo.es</string>
				<key>rss</key>
				<string>https://www.elcorreo.com/rss/atom/portada</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>6</integer>
				<key>title</key>
				<string>ideal.es</string>
				<key>rss</key>
				<string>https://www.ideal.es/rss/atom/portada</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>7</integer>
				<key>title</key>
				<string>vozpopuli.com</string>
				<key>rss</key>
				<string>https://www.vozpopuli.com/rss/</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>9</integer>
				<key>title</key>
				<string>lavanguardia.es</string>
				<key>rss</key>
				<string>http://www.lavanguardia.com/feed/rss/home</string>
				<key>sortKey</key>
				<integer>9</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>10</integer>
				<key>title</key>
				<string>levante-emv.com</string>
				<key>rss</key>
				<string>https://www.levante-emv.com/elementosInt/rss/1</string>
				<key>sortKey</key>
				<integer>10</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>11</integer>
				<key>title</key>
				<string>elperiodico.es</string>
				<key>rss</key>
				<string>http://www.elperiodico.com/es/rss/rss_portada.xml</string>
				<key>sortKey</key>
				<integer>11</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>12</integer>
				<key>title</key>
				<string>rtve.es</string>
				<key>rss</key>
				<string>http://www.rtve.es/rss/temas_noticias.xml</string>
				<key>sortKey</key>
				<integer>12</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>13</integer>
				<key>title</key>
				<string>huffingtonpost.es</string>
				<key>rss</key>
				<string>http://www.huffingtonpost.es/feeds/verticals/spain/index.xml</string>
				<key>sortKey</key>
				<integer>13</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>14</integer>
				<key>title</key>
				<string>lasprovincias.es</string>
				<key>rss</key>
				<string>https://www.lasprovincias.es/rss/atom/portada</string>
				<key>sortKey</key>
				<integer>14</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>16</integer>
				<key>title</key>
				<string>ara.cat</string>
				<key>rss</key>
				<string>https://www.ara.cat/rss/</string>
				<key>sortKey</key>
				<integer>16</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>17</integer>
				<key>title</key>
				<string>ccma.cat</string>
				<key>rss</key>
				<string>https://api.ccma.cat/noticies?_format=rss</string>
				<key>sortKey</key>
				<integer>17</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>18</integer>
				<key>title</key>
				<string>libertaddigital.es</string>
				<key>rss</key>
				<string>http://rss.libertaddigital.com/libertaddigital/portada</string>
				<key>sortKey</key>
				<integer>18</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>home.interest</string>
		<key>icon</key>
		<string>menu.interest</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>19</integer>
				<key>title</key>
				<string>xataka.com</string>
				<key>rss</key>
				<string>http://feeds.weblogssl.com/xataka2</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>20</integer>
				<key>title</key>
				<string>divinity.es</string>
				<key>rss</key>
				<string>https://www.divinity.es/rss.xml</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>21</integer>
				<key>title</key>
				<string>applesfera.com</string>
				<key>rss</key>
				<string>http://feeds.weblogssl.com/applesfera</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>23</integer>
				<key>title</key>
				<string>genbeta.com</string>
				<key>rss</key>
				<string>http://feeds.weblogssl.com/genbeta</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>24</integer>
				<key>title</key>
				<string>mundotoro.com</string>
				<key>rss</key>
				<string>https://www.mundotoro.com/feed</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>25</integer>
				<key>title</key>
				<string>hola.com</string>
				<key>rss</key>
				<string>https://www.hola.com/rss.xml</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>26</integer>
				<key>title</key>
				<string>channelbiz.es</string>
				<key>rss</key>
				<string>http://www.channelbiz.es/feed</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>27</integer>
				<key>title</key>
				<string>silicon.es</string>
				<key>rss</key>
				<string>http://www.silicon.es/feed</string>
				<key>sortKey</key>
				<integer>8</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>28</integer>
				<key>title</key>
				<string>muyinteresante.es</string>
				<key>rss</key>
				<string>http://www.muyinteresante.es/rss</string>
				<key>sortKey</key>
				<integer>9</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>29</integer>
				<key>title</key>
				<string>expansion.es</string>
				<key>rss</key>
				<string>https://e00-expansion.uecdn.es/rss/portada.xml</string>
				<key>sortKey</key>
				<integer>10</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>30</integer>
				<key>title</key>
				<string>quo.es</string>
				<key>rss</key>
				<string>https://www.quo.es/rss/all.xml</string>
				<key>sortKey</key>
				<integer>11</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>31</integer>
				<key>title</key>
				<string>eleconomista.es</string>
				<key>rss</key>
				<string>https://www.eleconomista.es/rss/rss-flash-del-mercado.php</string>
				<key>sortKey</key>
				<integer>12</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>32</integer>
				<key>title</key>
				<string>eldiario.es</string>
				<key>rss</key>
				<string>http://www.eldiario.es/rss</string>
				<key>sortKey</key>
				<integer>13</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>33</integer>
				<key>title</key>
				<string>elconfidencial.com</string>
				<key>rss</key>
				<string>http://rss.blogs.elconfidencial.com/espana</string>
				<key>sortKey</key>
				<integer>14</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>icon</key>
		<string>menu.sport</string>
		<key>title</key>
		<string>home.sport</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>36</integer>
				<key>title</key>
				<string>marca.es</string>
				<key>rss</key>
				<string>https://e00-marca.uecdn.es/rss/portada.xml</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>37</integer>
				<key>title</key>
				<string>mundodeportivo.es</string>
				<key>rss</key>
				<string>https://www.mundodeportivo.com/mvc/feed/rss/home</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>38</integer>
				<key>title</key>
				<string>superdeporte.es</string>
				<key>rss</key>
				<string>http://www.superdeporte.es/elementosInt/rss/1</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>39</integer>
				<key>title</key>
				<string>sport.es</string>
				<key>rss</key>
				<string>https://www.sport.es/es/rss/last_news/rss.xml</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>40</integer>
				<key>title</key>
				<string>as.com</string>
				<key>rss</key>
				<string>http://as.com/rss/tags/ultimas_noticias.xml</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>41</integer>
				<key>title</key>
				<string>acb.com</string>
				<key>rss</key>
				<string>http://ws.acb.com/rss</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>42</integer>
				<key>title</key>
				<string>cope.es</string>
				<key>rss</key>
				<string>https://www.cope.es/api/es/news/rss.xml</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>43</integer>
				<key>title</key>
				<string>basket4us.com</string>
				<key>rss</key>
				<string>https://www.basket4us.com/feed</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>44</integer>
				<key>title</key>
				<string>esciclismo.com</string>
				<key>rss</key>
				<string>https://www.esciclismo.com/rss/</string>
				<key>sortKey</key>
				<integer>8</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>46</integer>
				<key>title</key>
				<string>sportlife.es</string>
				<key>rss</key>
				<string>https://www.sportlife.es/rss.xml</string>
				<key>sortKey</key>
				<integer>10</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>title</key>
		<string>home.womans</string>
		<key>icon</key>
		<string>menu.womans</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>48</integer>
				<key>title</key>
				<string>elle.es</string>
				<key>rss</key>
				<string>http://www.elle.es/rss/feed/site</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>50</integer>
				<key>title</key>
				<string>mujerhoy.es</string>
				<key>rss</key>
				<string>https://www.mujerhoy.com/rss/feed/ultimas</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>51</integer>
				<key>title</key>
				<string>trendencias.com</string>
				<key>rss</key>
				<string>https://www.trendencias.com/index.xml</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>52</integer>
				<key>title</key>
				<string>enfemenino.es</string>
				<key>rss</key>
				<string>http://www.enfemenino.com/world/edito/index/rss.xml.asp</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>53</integer>
				<key>title</key>
				<string>mujer.es</string>
				<key>rss</key>
				<string>http://www.mujer.es/rss</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
