<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>title</key>
		<string>home.news</string>
		<key>icon</key>
		<string>menu.news</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5</integer>
				<key>title</key>
				<string>sydsvenskan.se</string>
				<key>rss</key>
				<string>https://www.sydsvenskan.se/rss.xml?latest</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>7</integer>
				<key>title</key>
				<string>thelocal.se</string>
				<key>rss</key>
				<string>https://feeds.thelocal.com/rss/se</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>10</integer>
				<key>title</key>
				<string>na.se</string>
				<key>rss</key>
				<string>https://www.na.se/feed</string>
				<key>sortKey</key>
				<integer>10</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>title</key>
				<string>aftonbladet.se</string>
				<key>rss</key>
				<string>https://www.aftonbladet.se/rss.xml</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>title</key>
				<string>expressen.se</string>
				<key>rss</key>
				<string>https://feeds.expressen.se/nyheter/</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>58</integer>
				<key>title</key>
				<string>svt.se</string>
				<key>rss</key>
				<string>https://www.svt.se/rss.xml</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>title</key>
				<string>dn.se</string>
				<key>rss</key>
				<string>https://www.dn.se/rss/</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>title</key>
				<string>svd.se</string>
				<key>rss</key>
				<string>https://www.svd.se/feed/articles.rss</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>4</integer>
				<key>title</key>
				<string>gp.se</string>
				<key>rss</key>
				<string>https://gpidag.libsyn.com/rss</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>6</integer>
				<key>title</key>
				<string>friatider.se</string>
				<key>rss</key>
				<string>https://www.friatider.se/rss.xml</string>
				<key>sortKey</key>
				<integer>8</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>8</integer>
				<key>title</key>
				<string>samnytt.se</string>
				<key>rss</key>
				<string>https://samnytt.se/feed/</string>
				<key>sortKey</key>
				<integer>9</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>11</integer>
				<key>title</key>
				<string>unt.se</string>
				<key>rss</key>
				<string>https://www.unt.se/rss/senaste/</string>
				<key>sortKey</key>
				<integer>11</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>12</integer>
				<key>title</key>
				<string>dagensps.se</string>
				<key>rss</key>
				<string>https://www.dagensps.se/feed/</string>
				<key>sortKey</key>
				<integer>12</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>home.interest</string>
		<key>icon</key>
		<string>menu.interest</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>19</integer>
				<key>title</key>
				<string>hd.se</string>
				<key>rss</key>
				<string>https://www.hd.se/rss.xml?latest=x</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>20</integer>
				<key>title</key>
				<string>metro.se</string>
				<key>rss</key>
				<string>https://rss.metro.se</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>21</integer>
				<key>title</key>
				<string>allehanda.se</string>
				<key>rss</key>
				<string>https://www.allehanda.se/feed</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>22</integer>
				<key>title</key>
				<string>corren.se</string>
				<key>rss</key>
				<string>https://corren.se/nyheter/rss/</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>23</integer>
				<key>title</key>
				<string>nwt.se</string>
				<key>rss</key>
				<string>https://www.nwt.se/feed/</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>24</integer>
				<key>title</key>
				<string>bt.se</string>
				<key>rss</key>
				<string>http://www.bt.se/feed/</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>25</integer>
				<key>title</key>
				<string>helahalsingland.se</string>
				<key>rss</key>
				<string>https://www.helahalsingland.se/feed</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>26</integer>
				<key>title</key>
				<string>op.se</string>
				<key>rss</key>
				<string>https://www.op.se/feed</string>
				<key>sortKey</key>
				<integer>8</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>icon</key>
		<string>menu.sport</string>
		<key>title</key>
		<string>home.sport</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>34</integer>
				<key>title</key>
				<string>aftonbladet.se</string>
				<key>rss</key>
				<string>http://www.aftonbladet.se/sportbladet/rss.xml</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>35</integer>
				<key>title</key>
				<string>norran.se</string>
				<key>rss</key>
				<string>https://www.norran.se/feed/sport/</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>36</integer>
				<key>title</key>
				<string>svenskafans.com</string>
				<key>rss</key>
				<string>https://www.svenskafans.com/rss/site/2</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>37</integer>
				<key>title</key>
				<string>svenskfotboll.se</string>
				<key>rss</key>
				<string>https://www2.svenskfotboll.se/?rss=1</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>38</integer>
				<key>title</key>
				<string>hockeysverige.se</string>
				<key>rss</key>
				<string>http://www.hockeysverige.se/feed</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>39</integer>
				<key>title</key>
				<string>happyride.se</string>
				<key>rss</key>
				<string>https://happyride.se/feed</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>40</integer>
				<key>title</key>
				<string>fogis.se</string>
				<key>rss</key>
				<string>https://fogis.se/?rss=1</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>41</integer>
				<key>title</key>
				<string>sweclockers.com</string>
				<key>rss</key>
				<string>https://www.sweclockers.com/feeds/nyheter</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>42</integer>
				<key>title</key>
				<string>nyteknik.se</string>
				<key>rss</key>
				<string>https://www.nyteknik.se/nt-rss.xml</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>43</integer>
				<key>title</key>
				<string>fogis.se</string>
				<key>rss</key>
				<string>https://fogis.se/?rss=1</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>44</integer>
				<key>title</key>
				<string>fogis.se</string>
				<key>rss</key>
				<string>https://fogis.se/?rss=1</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>45</integer>
				<key>title</key>
				<string>wwf.se</string>
				<key>rss</key>
				<string>https://www.wwf.se/feed/</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>46</integer>
				<key>title</key>
				<string>di.se</string>
				<key>rss</key>
				<string>https://www.di.se/rss</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>47</integer>
				<key>title</key>
				<string>resume.se</string>
				<key>rss</key>
				<string>https://www.resume.se/rss.xml</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>48</integer>
				<key>title</key>
				<string>va.se</string>
				<key>rss</key>
				<string>https://www.va.se/rss</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>49</integer>
				<key>title</key>
				<string>privataaffarer.se</string>
				<key>rss</key>
				<string>https://www.privataaffarer.se/feed</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>50</integer>
				<key>title</key>
				<string>marketnews.se</string>
				<key>rss</key>
				<string>http://marketnews.se/feed</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>57</integer>
				<key>title</key>
				<string>expressen.se</string>
				<key>rss</key>
				<string>https://feeds.expressen.se/sport</string>
				<key>sortKey</key>
				<integer>8</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>title</key>
		<string>home.womans</string>
		<key>icon</key>
		<string>menu.womans</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>51</integer>
				<key>title</key>
				<string>kenzas.se</string>
				<key>rss</key>
				<string>http://kenzas.se/feed</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>52</integer>
				<key>title</key>
				<string>amelia.se</string>
				<key>rss</key>
				<string>https://www.amelia.se/feed</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>53</integer>
				<key>title</key>
				<string>damernasvarld.se</string>
				<key>rss</key>
				<string>https://www.damernasvarld.se/feed/</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>54</integer>
				<key>title</key>
				<string>svenskdam.se</string>
				<key>rss</key>
				<string>https://www.svenskdam.se/feed/</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>55</integer>
				<key>title</key>
				<string>kissies.se</string>
				<key>rss</key>
				<string>https://kissies.se/rss</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>56</integer>
				<key>title</key>
				<string>elle.se</string>
				<key>rss</key>
				<string>https://www.elle.se/feed/</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
