<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>title</key>
		<string>home.news</string>
		<key>icon</key>
		<string>menu.news</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>title</key>
				<string>wyborcza.pl</string>
				<key>rss</key>
				<string>http://serwisy.gazeta.pl/pub/rss/najnowsze_wyborcza.xml</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>title</key>
				<string>natemat.pl</string>
				<key>rss</key>
				<string>http://natemat.pl/rss/wszystkie</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>title</key>
				<string>wp.pl</string>
				<key>rss</key>
				<string>http://wiadomosci.wp.pl/kat,1329,ver,rss,rss.xml</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>4</integer>
				<key>title</key>
				<string>tvn24.pl</string>
				<key>rss</key>
				<string>http://www.tvn24.pl/najnowsze.xml</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>5</integer>
				<key>title</key>
				<string>interia.pl</string>
				<key>rss</key>
				<string>http://fakty.interia.pl/feed</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>6</integer>
				<key>title</key>
				<string>wiadomosci.pl</string>
				<key>rss</key>
				<string>http://wiadomosci.gazeta.pl/pub/rss/wiadomosci.htm</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>7</integer>
				<key>title</key>
				<string>nowiny24.pl</string>
				<key>rss</key>
				<string>http://www.nowiny24.pl/rss/nowiny.xml</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>9</integer>
				<key>title</key>
				<string>newsweek.pl</string>
				<key>rss</key>
				<string>http://www.newsweek.pl/rss.xml</string>
				<key>sortKey</key>
				<integer>9</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>10</integer>
				<key>title</key>
				<string>tvp.info</string>
				<key>rss</key>
				<string>http://www.tvp.info/tvp.info/rss+xml.php</string>
				<key>sortKey</key>
				<integer>10</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>11</integer>
				<key>title</key>
				<string>wpolityce.pl</string>
				<key>rss</key>
				<string>http://feeds.feedburner.com/wPolitycepl</string>
				<key>sortKey</key>
				<integer>11</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>12</integer>
				<key>title</key>
				<string>gazetawroclawska.pl</string>
				<key>rss</key>
				<string>http://www.gazetawroclawska.pl/rss/gazetawroclawska.xml</string>
				<key>sortKey</key>
				<integer>12</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>13</integer>
				<key>title</key>
				<string>dziennik.pl</string>
				<key>rss</key>
				<string>http://rss.dziennik.pl/Dziennik-PL</string>
				<key>sortKey</key>
				<integer>13</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>14</integer>
				<key>title</key>
				<string>expressilustrowany.pl</string>
				<key>rss</key>
				<string>https://expressilustrowany.pl/rss/expressilustrowany.xml</string>
				<key>sortKey</key>
				<integer>14</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>15</integer>
				<key>title</key>
				<string>poranny.pl</string>
				<key>rss</key>
				<string>https://poranny.pl/rss/kurierporanny.xml</string>
				<key>sortKey</key>
				<integer>15</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>16</integer>
				<key>title</key>
				<string>gazetakrakowska.pl</string>
				<key>rss</key>
				<string>https://gazetakrakowska.pl/rss/gazetakrakowska.xml</string>
				<key>sortKey</key>
				<integer>16</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>17</integer>
				<key>title</key>
				<string>gazetalubuska.pl</string>
				<key>rss</key>
				<string>https://gazetalubuska.pl/rss/gazetalubuska.xml</string>
				<key>sortKey</key>
				<integer>17</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>18</integer>
				<key>title</key>
				<string>dzienniklodzki.pl</string>
				<key>rss</key>
				<string>https://dzienniklodzki.pl/rss/dzienniklodzki.xml</string>
				<key>sortKey</key>
				<integer>18</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>19</integer>
				<key>title</key>
				<string>polskatimes.pl</string>
				<key>rss</key>
				<string>https://polskatimes.pl/rss</string>
				<key>sortKey</key>
				<integer>19</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>home.interest</string>
		<key>icon</key>
		<string>menu.interest</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>20</integer>
				<key>title</key>
				<string>dziennikzachodni.pl</string>
				<key>rss</key>
				<string>https://dziennikzachodni.pl/rss/dziennikzachodni.xml</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>21</integer>
				<key>title</key>
				<string>wirtualnemedia.pl</string>
				<key>rss</key>
				<string>http://wirtualnemedia.pl/rss/wirtualnemedia_rss.xml</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>22</integer>
				<key>title</key>
				<string>wprost.pl</string>
				<key>rss</key>
				<string>https://www.wprost.pl/rss</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>23</integer>
				<key>title</key>
				<string>gloswielkopolski.pl</string>
				<key>rss</key>
				<string>https://gloswielkopolski.pl/rss/gloswielkopolski.xml</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>24</integer>
				<key>title</key>
				<string>salon24.pl</string>
				<key>rss</key>
				<string>https://www.salon24.pl/rss/hp</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>25</integer>
				<key>title</key>
				<string>fakt.pl</string>
				<key>rss</key>
				<string>http://www.fakt.pl/rss</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>26</integer>
				<key>title</key>
				<string>wykop.pl</string>
				<key>rss</key>
				<string>http://www.wykop.pl/rss</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>27</integer>
				<key>title</key>
				<string>money.pl</string>
				<key>rss</key>
				<string>https://www.money.pl/rss/rss.xml</string>
				<key>sortKey</key>
				<integer>8</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>28</integer>
				<key>title</key>
				<string>dobreprogramy.pl</string>
				<key>rss</key>
				<string>http://feeds.feedburner.com/dobreprogramy/Aktualnosci</string>
				<key>sortKey</key>
				<integer>9</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>29</integer>
				<key>title</key>
				<string>komputerswiat.pl</string>
				<key>rss</key>
				<string>https://www.komputerswiat.pl/.feed</string>
				<key>sortKey</key>
				<integer>10</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>30</integer>
				<key>title</key>
				<string>pomorska.pl</string>
				<key>rss</key>
				<string>http://www.pomorska.pl/rss/gazetapomorska.xml</string>
				<key>sortKey</key>
				<integer>11</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>31</integer>
				<key>title</key>
				<string>chip.pl</string>
				<key>rss</key>
				<string>https://www.chip.pl/feed/</string>
				<key>sortKey</key>
				<integer>12</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>32</integer>
				<key>title</key>
				<string>forbes.pl</string>
				<key>rss</key>
				<string>https://www.forbes.pl/rss.xml</string>
				<key>sortKey</key>
				<integer>13</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>33</integer>
				<key>title</key>
				<string>rp.pl</string>
				<key>rss</key>
				<string>http://www.rp.pl/rss/1000</string>
				<key>sortKey</key>
				<integer>14</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>36</integer>
				<key>title</key>
				<string>gazetaprawna.pl</string>
				<key>rss</key>
				<string>http://rss.gazetaprawna.pl/GazetaPrawna</string>
				<key>sortKey</key>
				<integer>15</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>37</integer>
				<key>title</key>
				<string>dziennikwschodni.pl</string>
				<key>rss</key>
				<string>https://www.dziennikwschodni.pl/rss</string>
				<key>sortKey</key>
				<integer>16</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>53</integer>
				<key>title</key>
				<string>pomponik.pl</string>
				<key>rss</key>
				<string>https://www.pomponik.pl/feed</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>54</integer>
				<key>title</key>
				<string>pudelek.pl</string>
				<key>rss</key>
				<string>https://www.pudelek.pl/rss2.xml</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>icon</key>
		<string>menu.sport</string>
		<key>title</key>
		<string>home.sport</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>38</integer>
				<key>title</key>
				<string>sport.pl</string>
				<key>rss</key>
				<string>http://rss.gazeta.pl/pub/rss/sport.xml</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>39</integer>
				<key>title</key>
				<string>przegladsportowy.pl</string>
				<key>rss</key>
				<string>https://www.przegladsportowy.pl/.feed</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>40</integer>
				<key>title</key>
				<string>meczyki.pl</string>
				<key>rss</key>
				<string>https://www.meczyki.pl/newsy/rss.xml</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>41</integer>
				<key>title</key>
				<string>weszlo.com</string>
				<key>rss</key>
				<string>http://weszlo.com/feed</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>42</integer>
				<key>title</key>
				<string>sport.interia.pl</string>
				<key>rss</key>
				<string>http://sport.interia.pl/feed</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>43</integer>
				<key>title</key>
				<string>sportfan.pl</string>
				<key>rss</key>
				<string>http://www.sportfan.pl/feed/</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>44</integer>
				<key>title</key>
				<string>sportowefakty.wp.pl</string>
				<key>rss</key>
				<string>http://sportowefakty.wp.pl/rss.xml</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>45</integer>
				<key>title</key>
				<string>pl.motorsport.com</string>
				<key>rss</key>
				<string>https://pl.motorsport.com/rss/all/news/</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>title</key>
		<string>home.womans</string>
		<key>icon</key>
		<string>menu.womans</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>47</integer>
				<key>title</key>
				<string>styl.pl</string>
				<key>rss</key>
				<string>http://www.styl.pl/moda/feed</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>48</integer>
				<key>title</key>
				<string>kozaczek.pl</string>
				<key>rss</key>
				<string>https://www.kozaczek.pl/feed</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>49</integer>
				<key>title</key>
				<string>kobieta.gazeta.pl</string>
				<key>rss</key>
				<string>http://kobieta.gazeta.pl/pub/rss/kobieta.htm</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>50</integer>
				<key>title</key>
				<string>mjakmama.pl</string>
				<key>rss</key>
				<string>http://www.mjakmama24.pl/rss/ostatnie</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>51</integer>
				<key>title</key>
				<string>gala.pl</string>
				<key>rss</key>
				<string>https://www.gala.pl/rss/</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>52</integer>
				<key>title</key>
				<string>ekobiety.pl</string>
				<key>rss</key>
				<string>http://www.ekobiety.pl/feed/</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
