<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>title</key>
		<string>home.news</string>
		<key>icon</key>
		<string>menu.news</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>title</key>
				<string>yle.fi</string>
				<key>rss</key>
				<string>https://feeds.yle.fi/uutiset/v1/majorHeadlines/YLE_UUTISET.rss</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>title</key>
				<string>suomenkuvalehti.fi</string>
				<key>rss</key>
				<string>https://suomenkuvalehti.fi/8hj38g7dh49g73jd02fasd/</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>title</key>
				<string>hs.fi</string>
				<key>rss</key>
				<string>https://www.hs.fi/rss/tuoreimmat.xml</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>title</key>
				<string>kauppalehti.fi</string>
				<key>rss</key>
				<string>https://feeds.kauppalehti.fi/rss/main</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>4</integer>
				<key>title</key>
				<string>uusisuomi.fi</string>
				<key>rss</key>
				<string>https://www.uusisuomi.fi/api/feed/v2/rss/us</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>5</integer>
				<key>title</key>
				<string>kaleva.fi</string>
				<key>rss</key>
				<string>https://www.kaleva.fi/rss/show/</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>6</integer>
				<key>title</key>
				<string>verkkouutiset.fi</string>
				<key>rss</key>
				<string>https://www.verkkouutiset.fi/feed/</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>7</integer>
				<key>title</key>
				<string>hbl.fi</string>
				<key>rss</key>
				<string>https://www.hbl.fi/feed/</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>8</integer>
				<key>title</key>
				<string>sss.fi</string>
				<key>rss</key>
				<string>https://www.sss.fi/feed</string>
				<key>sortKey</key>
				<integer>8</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>9</integer>
				<key>title</key>
				<string>helsinkitimes.fi</string>
				<key>rss</key>
				<string>https://www.helsinkitimes.fi/?format=feed&amp;type=rss</string>
				<key>sortKey</key>
				<integer>9</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>10</integer>
				<key>title</key>
				<string>finlandtoday.fi</string>
				<key>rss</key>
				<string>https://finlandtoday.fi/feed/</string>
				<key>sortKey</key>
				<integer>10</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>11</integer>
				<key>title</key>
				<string>goodnewsfinland.com</string>
				<key>rss</key>
				<string>http://www.goodnewsfinland.com/feed/</string>
				<key>sortKey</key>
				<integer>11</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>12</integer>
				<key>title</key>
				<string>dailyfinland.fi</string>
				<key>rss</key>
				<string>http://dailyfinland.fi/feed/latest-rss.xml</string>
				<key>sortKey</key>
				<integer>12</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>13</integer>
				<key>title</key>
				<string>newsnowfinland.fi</string>
				<key>rss</key>
				<string>https://newsnowfinland.fi/feed</string>
				<key>sortKey</key>
				<integer>13</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>14</integer>
				<key>title</key>
				<string>ls24.fi</string>
				<key>rss</key>
				<string>https://ls24.fi/rss</string>
				<key>sortKey</key>
				<integer>14</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>home.interest</string>
		<key>icon</key>
		<string>menu.interest</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>15</integer>
				<key>title</key>
				<string>iltalehti.fi</string>
				<key>rss</key>
				<string>https://www.iltalehti.fi/rss/uutiset.xml</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>16</integer>
				<key>title</key>
				<string>is.fi</string>
				<key>rss</key>
				<string>https://www.is.fi/rss/tuoreimmat.xml</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>17</integer>
				<key>title</key>
				<string>tivi.fi</string>
				<key>rss</key>
				<string>https://www.tivi.fi/api/feed/v2/rss/tv</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>18</integer>
				<key>title</key>
				<string>stara.fi</string>
				<key>rss</key>
				<string>http://feeds.feedburner.com/stara</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>19</integer>
				<key>title</key>
				<string>maaseuduntulevaisuus.fi</string>
				<key>rss</key>
				<string>https://www.maaseuduntulevaisuus.fi/feed/maatalous-metsa-hevoset-era-uusimmat-rss-feed-1.443135</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>20</integer>
				<key>title</key>
				<string>lapinkansa.fi</string>
				<key>rss</key>
				<string>https://www.lapinkansa.fi/feedit/rss/newest-free</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>21</integer>
				<key>title</key>
				<string>kansanuutiset.fi</string>
				<key>rss</key>
				<string>https://www.kansanuutiset.fi/feed</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>22</integer>
				<key>title</key>
				<string>tiede.fi</string>
				<key>rss</key>
				<string>https://www.tiede.fi/rss/artikkelit.xml</string>
				<key>sortKey</key>
				<integer>7</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>23</integer>
				<key>title</key>
				<string>viikonloppu.com</string>
				<key>rss</key>
				<string>https://www.viikonloppu.com/feed/</string>
				<key>sortKey</key>
				<integer>8</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>24</integer>
				<key>title</key>
				<string>muropaketti.com</string>
				<key>rss</key>
				<string>https://muropaketti.com/feed/</string>
				<key>sortKey</key>
				<integer>9</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>25</integer>
				<key>title</key>
				<string>vivas.fi</string>
				<key>rss</key>
				<string>https://vivas.fi/feed/</string>
				<key>sortKey</key>
				<integer>10</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>26</integer>
				<key>title</key>
				<string>findance.com</string>
				<key>rss</key>
				<string>https://feeds.feedburner.com/findancecom</string>
				<key>sortKey</key>
				<integer>11</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>27</integer>
				<key>title</key>
				<string>mesta.net</string>
				<key>rss</key>
				<string>http://mesta.net/feed/</string>
				<key>sortKey</key>
				<integer>12</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>28</integer>
				<key>title</key>
				<string>tekniikanmaailma.fi</string>
				<key>rss</key>
				<string>https://vanha.tekniikanmaailma.fi/feed/</string>
				<key>sortKey</key>
				<integer>13</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>29</integer>
				<key>title</key>
				<string>tekniikkatalous.fi</string>
				<key>rss</key>
				<string>https://www.tekniikkatalous.fi/api/feed/v2/rss/tt</string>
				<key>sortKey</key>
				<integer>14</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>icon</key>
		<string>menu.sport</string>
		<key>title</key>
		<string>home.sport</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>30</integer>
				<key>title</key>
				<string>jatkoaika.com</string>
				<key>rss</key>
				<string>https://www.jatkoaika.com/rss/index.rss</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>31</integer>
				<key>title</key>
				<string>golfpiste.com</string>
				<key>rss</key>
				<string>https://golfpiste.com/feed/</string>
				<key>sortKey</key>
				<integer>4</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>32</integer>
				<key>title</key>
				<string>sportti.com</string>
				<key>rss</key>
				<string>http://www.sportti.com/rss.asp</string>
				<key>sortKey</key>
				<integer>5</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>33</integer>
				<key>title</key>
				<string>jukola.com</string>
				<key>rss</key>
				<string>https://www.jukola.com/2020/feed/</string>
				<key>sortKey</key>
				<integer>6</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>34</integer>
				<key>title</key>
				<string>is.fi</string>
				<key>rss</key>
				<string>https://www.is.fi/rss/urheilu.xml</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>35</integer>
				<key>title</key>
				<string>iltalehti.fi</string>
				<key>rss</key>
				<string>https://www.iltalehti.fi/rss/urheilu.xml</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>36</integer>
				<key>title</key>
				<string>ls24.fi</string>
				<key>rss</key>
				<string>https://ls24.fi/urheilu/rss</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>title</key>
		<string>home.womans</string>
		<key>icon</key>
		<string>menu.womans</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>37</integer>
				<key>title</key>
				<string>vauva.fi</string>
				<key>rss</key>
				<string>https://www.vauva.fi/rss/artikkelit.xml</string>
				<key>sortKey</key>
				<integer>0</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>38</integer>
				<key>title</key>
				<string>kaksplus.fi</string>
				<key>rss</key>
				<string>https://www.kaksplus.fi/feed/podcast/</string>
				<key>sortKey</key>
				<integer>1</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>39</integer>
				<key>title</key>
				<string>anna.fi</string>
				<key>rss</key>
				<string>https://anna.fi/feed/podcast</string>
				<key>sortKey</key>
				<integer>2</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>40</integer>
				<key>title</key>
				<string>hymy.fi</string>
				<key>rss</key>
				<string>https://hymy.fi/feed/</string>
				<key>sortKey</key>
				<integer>3</integer>
				<key>deprecated</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
