<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>title</key>
		<string>home.news</string>
		<key>icon</key>
		<string>menu.news</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>title</key>
				<string>idnes.cz</string>
				<key>rss</key>
				<string>http://servis.idnes.cz/rss.aspx?c=zpravodaj</string>
				<key>sortKey</key>
				<integer>0</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>title</key>
				<string>tn.cz</string>
				<key>rss</key>
				<string>http://tn.nova.cz/rss</string>
				<key>sortKey</key>
				<integer>1</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>7</integer>
				<key>title</key>
				<string>noviny.cz</string>
				<key>rss</key>
				<string>http://www.novinky.cz/rss</string>
				<key>sortKey</key>
				<integer>2</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>10</integer>
				<key>title</key>
				<string>aktualne.cz</string>
				<key>rss</key>
				<string>http://www.aktualne.cz/mrss</string>
				<key>sortKey</key>
				<integer>3</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>5</integer>
				<key>title</key>
				<string>blesk.cz</string>
				<key>rss</key>
				<string>http://www.blesk.cz/rss</string>
				<key>sortKey</key>
				<integer>5</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>11</integer>
				<key>title</key>
				<string>denik.cz</string>
				<key>rss</key>
				<string>http://www.denik.cz/rss/z_domova.html</string>
				<key>sortKey</key>
				<integer>4</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>6</integer>
				<key>title</key>
				<string>ihned.cz</string>
				<key>rss</key>
				<string>http://ihned.cz/?m=rss</string>
				<key>sortKey</key>
				<integer>6</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>8</integer>
				<key>title</key>
				<string>ct.cz</string>
				<key>rss</key>
				<string>http://www.ceskatelevize.cz/ct24/rss</string>
				<key>sortKey</key>
				<integer>7</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>title</key>
				<string>prvnizpravy.cz</string>
				<key>rss</key>
				<string>http://www.prvnizpravy.cz/repository/rss/zpravy_all_cs.xml</string>
				<key>sortKey</key>
				<integer>8</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>title</key>
				<string>lidovky.cz</string>
				<key>rss</key>
				<string>http://servis.lidovky.cz/rss.aspx</string>
				<key>sortKey</key>
				<integer>9</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>4</integer>
				<key>title</key>
				<string>tyden.cz</string>
				<key>rss</key>
				<string>http://www.tyden.cz/rss/rss.php?all</string>
				<key>sortKey</key>
				<integer>10</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>9</integer>
				<key>title</key>
				<string>metro.cz</string>
				<key>rss</key>
				<string>http://servis.metro.cz/rss.aspx</string>
				<key>sortKey</key>
				<integer>11</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>home.interest</string>
		<key>icon</key>
		<string>menu.interest</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>12</integer>
				<key>title</key>
				<string>refresher.cz</string>
				<key>rss</key>
				<string>http://refresher.cz/rss</string>
				<key>sortKey</key>
				<integer>0</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>13</integer>
				<key>title</key>
				<string>respekt.cz</string>
				<key>rss</key>
				<string>http://feeds.feedburner.com/odemcene-clanky</string>
				<key>sortKey</key>
				<integer>1</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>14</integer>
				<key>title</key>
				<string>reflex.cz</string>
				<key>rss</key>
				<string>https://www.reflex.cz/rss</string>
				<key>sortKey</key>
				<integer>2</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>15</integer>
				<key>title</key>
				<string>czechcrunch.cz</string>
				<key>rss</key>
				<string>https://www.czechcrunch.cz/feed/</string>
				<key>sortKey</key>
				<integer>3</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>16</integer>
				<key>title</key>
				<string>national-geographic.cz</string>
				<key>rss</key>
				<string>http://www.national-geographic.cz/rss/feed.html</string>
				<key>sortKey</key>
				<integer>11</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>61</integer>
				<key>title</key>
				<string>extra.cz</string>
				<key>rss</key>
				<string>https://www.extra.cz/rss.xml</string>
				<key>sortKey</key>
				<integer>4</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>62</integer>
				<key>title</key>
				<string>super.cz</string>
				<key>rss</key>
				<string>https://www.super.cz/rss2</string>
				<key>sortKey</key>
				<integer>5</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>18</integer>
				<key>title</key>
				<string>mobilmania.cz</string>
				<key>rss</key>
				<string>https://www.mobilmania.cz/rss/sc-47/</string>
				<key>sortKey</key>
				<integer>6</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>19</integer>
				<key>title</key>
				<string>zive.cz</string>
				<key>rss</key>
				<string>http://www.zive.cz/rss/sc-47/default.aspx?rss=1</string>
				<key>sortKey</key>
				<integer>7</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>20</integer>
				<key>title</key>
				<string>21stoleti.cz</string>
				<key>rss</key>
				<string>http://21stoleti.cz/feed</string>
				<key>sortKey</key>
				<integer>8</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>21</integer>
				<key>title</key>
				<string>letemsvetemapplem.eu</string>
				<key>rss</key>
				<string>http://letemsvetemapplem.eu/feed.xml</string>
				<key>sortKey</key>
				<integer>9</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>22</integer>
				<key>title</key>
				<string>epochaplus.cz</string>
				<key>rss</key>
				<string>http://epochaplus.cz/?feed=rss2</string>
				<key>sortKey</key>
				<integer>10</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>23</integer>
				<key>title</key>
				<string>epochalnisvet.cz</string>
				<key>rss</key>
				<string>http://epochalnisvet.cz/feed</string>
				<key>sortKey</key>
				<integer>15</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>24</integer>
				<key>title</key>
				<string>firstclass.cz</string>
				<key>rss</key>
				<string>https://www.firstclass.cz/feed</string>
				<key>sortKey</key>
				<integer>12</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>25</integer>
				<key>title</key>
				<string>evropa2.cz</string>
				<key>rss</key>
				<string>https://www.evropa2.cz/feed</string>
				<key>sortKey</key>
				<integer>13</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>26</integer>
				<key>title</key>
				<string>zajimavysvet.cz</string>
				<key>rss</key>
				<string>http://www.zajimavysvet.cz/feed</string>
				<key>sortKey</key>
				<integer>14</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>27</integer>
				<key>title</key>
				<string>cestovani.lidovky.cz</string>
				<key>rss</key>
				<string>http://servis.lidovky.cz/rss.aspx?c=ln_cestovani</string>
				<key>sortKey</key>
				<integer>16</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>28</integer>
				<key>title</key>
				<string>psychologie.cz</string>
				<key>rss</key>
				<string>http://psychologie.cz/rss/clanky</string>
				<key>sortKey</key>
				<integer>17</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>40</integer>
				<key>title</key>
				<string>e15.cz</string>
				<key>rss</key>
				<string>https://www.e15.cz/rss</string>
				<key>sortKey</key>
				<integer>18</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>icon</key>
		<string>menu.sport</string>
		<key>title</key>
		<string>home.sport</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>29</integer>
				<key>title</key>
				<string>isport.cz</string>
				<key>rss</key>
				<string>http://isport.blesk.cz/rss</string>
				<key>sortKey</key>
				<integer>0</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>30</integer>
				<key>title</key>
				<string>nhl.cz</string>
				<key>rss</key>
				<string>http://www.nhl.cz/rss/nhl</string>
				<key>sortKey</key>
				<integer>1</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>31</integer>
				<key>title</key>
				<string>formule1.cz</string>
				<key>rss</key>
				<string>https://f1sport.auto.cz/rss</string>
				<key>sortKey</key>
				<integer>2</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>32</integer>
				<key>title</key>
				<string>premiership.efotbal.cz</string>
				<key>rss</key>
				<string>http://premiership.efotbal.cz/rss.php</string>
				<key>sortKey</key>
				<integer>3</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>33</integer>
				<key>title</key>
				<string>hokej.cz</string>
				<key>rss</key>
				<string>http://hokej.cz/rss/vse</string>
				<key>sortKey</key>
				<integer>4</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>34</integer>
				<key>title</key>
				<string>sport.cz</string>
				<key>rss</key>
				<string>https://www.sport.cz/rss2</string>
				<key>sortKey</key>
				<integer>5</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>35</integer>
				<key>title</key>
				<string>ct.cz</string>
				<key>rss</key>
				<string>http://www.ceskatelevize.cz/sport/rss/hlavni-zpravy</string>
				<key>sortKey</key>
				<integer>6</integer>
                <key>deprecated</key>
                <integer>1</integer>
            </dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>title</key>
		<string>home.womans</string>
		<key>icon</key>
		<string>menu.womans</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>36</integer>
				<key>title</key>
				<string>maminka.cz</string>
				<key>rss</key>
				<string>http://www.maminka.cz/rss</string>
				<key>sortKey</key>
				<integer>0</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>37</integer>
				<key>title</key>
				<string>onlinezena.cz</string>
				<key>rss</key>
				<string>http://www.onlinezena.cz/feed</string>
				<key>sortKey</key>
				<integer>1</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>63</integer>
				<key>title</key>
				<string>prozeny.cz</string>
				<key>rss</key>
				<string>https://www.prozeny.cz/rss</string>
				<key>sortKey</key>
				<integer>0</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>38</integer>
				<key>title</key>
				<string>dama.cz</string>
				<key>rss</key>
				<string>http://www.dama.cz/rss</string>
				<key>sortKey</key>
				<integer>2</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>39</integer>
				<key>title</key>
				<string>kafe.cz</string>
				<key>rss</key>
				<string>http://www.kafe.cz/rss.aspx</string>
				<key>sortKey</key>
				<integer>3</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
		</array>
	</dict>
</array>
</plist>
