<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>title</key>
		<string>home.news</string>
		<key>icon</key>
		<string>menu.news</string>
		<key>newspapers</key>
		<array>
            <dict>
                <key>id</key>
                <integer>1</integer>
                <key>title</key>
                <string>rambler.ru</string>
                <key>rss</key> 
                <string>http://news.rambler.ru/rss/head</string>
                <key>sortKey</key>
                <integer>1</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>2</integer>
                <key>title</key>
                <string>lenta.ru</string>
                <key>rss</key>
                <string>http://lenta.ru/rss/news</string>
                <key>sortKey</key>
                <integer>2</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>6</integer>
                <key>title</key>
                <string>yandex.ru</string>
                <key>rss</key>
                <string>https://yandex.ru/company/press_releases/news.rss</string>
                <key>sortKey</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>title</key>
				<string>rbc.ru</string>
				<key>rss</key>
				<string>http://static.feed.rbc.ru/rbc/internal/rss.rbc.ru/rbc.ru/mainnews.rss</string>
				<key>sortKey</key>
				<integer>3</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>53</integer>
				<key>title</key>
				<string>sm-news.ru</string>
				<key>rss</key>
				<string>https://sm-news.ru/feed/</string>
				<key>sortKey</key>
				<integer>4</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>4</integer>
				<key>title</key>
				<string>life.ru</string>
				<key>rss</key>
				<string>https://life.ru/xml/feed.xml</string>
				<key>sortKey</key>
				<integer>5</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>6</integer>
				<key>title</key>
				<string>rg.ru</string>
				<key>rss</key>
				<string>https://rg.ru/xml/index.xml</string>
				<key>sortKey</key>
				<integer>6</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>7</integer>
				<key>title</key>
				<string>gazeta.ru</string>
				<key>rss</key>
				<string>http://www.gazeta.ru/export/rss/first.xml</string>
				<key>sortKey</key>
				<integer>7</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>8</integer>
                <key>title</key>
                <string>vesti.ru</string>
                <key>rss</key>
                <string>http://www.vesti.ru/vesti.rss</string>
                <key>sortKey</key>
                <integer>8</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>9</integer>
                <key>title</key>
                <string>mk.ru</string>
                <key>rss</key>
                <string>https://www.mk.ru/rss/news/index.xml</string>
                <key>sortKey</key>
                <integer>9</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>10</integer>
                <key>title</key>
                <string>tass.ru</string>
                <key>rss</key>
                <string>http://tass.ru/rss/v2.xml</string>
                <key>sortKey</key>
                <integer>10</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>11</integer>
                <key>title</key>
                <string>iz.ru</string>
                <key>rss</key>
                <string>https://iz.ru/xml/rss/all.xml</string>
                <key>sortKey</key>
                <integer>11</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>12</integer>
                <key>title</key>
                <string>russian.ru</string>
                <key>rss</key>
                <string>https://russian.rt.com/rss</string>
                <key>sortKey</key>
                <integer>12</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>13</integer>
                <key>title</key>
                <string>regnum.ru</string>
                <key>rss</key>
                <string>https://regnum.ru/rss/news</string>
                <key>sortKey</key>
                <integer>13</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>14</integer>
                <key>title</key>
                <string>rusvesna.su</string>
                <key>rss</key>
                <string>http://rusvesna.su/rss.xml</string>
                <key>sortKey</key>
                <integer>14</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
<!--            <dict>-->
<!--                <key>id</key>-->
<!--                <integer>15</integer>-->
<!--                <key>title</key>-->
<!--                <string>aif.ru</string>-->
<!--                <key>rss</key>-->
<!--                <string>http://www.aif.ru/rss/all.php</string>-->
<!--                <key>sortKey</key>-->
<!--                <integer>15</integer>-->
<!--            </dict>-->
            <dict>
                <key>id</key>
                <integer>16</integer>
                <key>title</key>
                <string>newsru.com</string>
                <key>rss</key>
                <string>https://rss.newsru.com/top/big</string>
                <key>sortKey</key>
                <integer>16</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>17</integer>
                <key>title</key>
                <string>tvzvezda.ru</string>
                <key>rss</key>
                <string>https://tvzvezda.ru/export/rss.xml</string>
                <key>sortKey</key>
                <integer>17</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>18</integer>
                <key>title</key>
                <string>24smi.org</string>
                <key>rss</key>
                <string>http://24smi.org/rss</string>
                <key>sortKey</key>
                <integer>18</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>19</integer>
                <key>title</key>
                <string>interfax.ru</string>
                <key>rss</key>
                <string>https://www.interfax.ru/rss.asp</string>
                <key>sortKey</key>
                <integer>19</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>20</integer>
                <key>title</key>
                <string>svoboda.org</string>
                <key>rss</key>
                <string>https://www.svoboda.org/api/z-pqpiev-qpp</string>
                <key>sortKey</key>
                <integer>20</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>21</integer>
                <key>title</key>
                <string>politikus.ru</string>
                <key>rss</key>
                <string>https://politikus.ru/rss.xml</string>
                <key>sortKey</key>
                <integer>21</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>22</integer>
                <key>title</key>
                <string>rosbalt.ru</string>
                <key>rss</key>
                <string>http://www.rosbalt.ru/feed/</string>
                <key>sortKey</key>
                <integer>22</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>23</integer>
                <key>title</key>
                <string>rusplt.ru</string>
                <key>rss</key>
                <string>https://rusplt.ru/index/new.rss</string>
                <key>sortKey</key>
                <integer>23</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>home.interest</string>
		<key>icon</key>
		<string>menu.interest</string>
		<key>newspapers</key>
		<array>
            <dict>
                <key>id</key>
                <integer>36</integer>
                <key>title</key>
                <string>pikabu.ru</string>
                <key>rss</key>
                <string>https://pikabu.ru/xmlfeeds.php?cmd=popular</string>
                <key>sortKey</key>
                <integer>0</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>31</integer>
                <key>title</key>
                <string>apple-iphone.ru</string>
                <key>rss</key>
                <string>https://www.apple-iphone.ru/feed/</string>
                <key>sortKey</key>
                <integer>1</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>29</integer>
                <key>title</key>
                <string>forbes.ru</string>
                <key>rss</key>
                <string>http://www.forbes.ru/newrss.xml</string>
                <key>sortKey</key>
                <integer>2</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>30</integer>
                <key>title</key>
                <string>popmech.ru</string>
                <key>rss</key>
                <string>https://www.popmech.ru/out/public-all.xml</string>
                <key>sortKey</key>
                <integer>4</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>32</integer>
                <key>title</key>
                <string>nkj.ru</string>
                <key>rss</key>
                <string>https://www.nkj.ru/rss/</string>
                <key>sortKey</key>
                <integer>3</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>24</integer>
                <key>title</key>
                <string>vedomosti.ru</string>
                <key>rss</key>
                <string>https://www.vedomosti.ru/rss/news</string>
                <key>sortKey</key>
                <integer>5</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>25</integer>
                <key>title</key>
                <string>russian7.ru</string>
                <key>rss</key>
                <string>http://russian7.ru/format/feeds/</string>
                <key>sortKey</key>
                <integer>6</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>26</integer>
                <key>title</key>
                <string>naked-science.ru</string>
                <key>rss</key>
                <string>http://naked-science.ru/feedrss.xml</string>
                <key>sortKey</key>
                <integer>7</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>27</integer>
                <key>title</key>
                <string>4pda.ru</string>
                <key>rss</key>
                <string>http://4pda.ru/feed/rss</string>
                <key>sortKey</key>
                <integer>8</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>28</integer>
                <key>title</key>
                <string>drom.ru</string>
                <key>rss</key>
                <string>http://www.drom.ru/cached_files/xml/news.rss</string>
                <key>sortKey</key>
                <integer>9</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>33</integer>
                <key>title</key>
                <string>habrahabr.ru</string>
                <key>rss</key>
                <string>https://habrahabr.ru/rss/interesting</string>
                <key>sortKey</key>
                <integer>10</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>34</integer>
                <key>title</key>
                <string>psychologies.ru</string>
                <key>rss</key>
                <string>http://www.psychologies.ru/news/rss/</string>
                <key>sortKey</key>
                <integer>11</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>35</integer>
                <key>title</key>
                <string>adme.ru</string>
                <key>rss</key>
                <string>https://www.adme.ru/rss</string>
                <key>sortKey</key>
                <integer>12</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>37</integer>
                <key>title</key>
                <string>kinopoisk.ru</string>
                <key>rss</key>
                <string>http://st.kp.yandex.net/rss/news.rss</string>
                <key>sortKey</key>
                <integer>13</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>icon</key>
		<string>menu.sport</string>
		<key>title</key>
		<string>home.sport</string>
		<key>newspapers</key>
		<array>
			<dict>
				<key>id</key>
				<integer>38</integer>
				<key>title</key>
				<string>championat.ru</string>
				<key>rss</key>
				<string>http://www.championat.com/xml/rss-article.xml</string>
				<key>sortKey</key>
				<integer>0</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>39</integer>
				<key>title</key>
				<string>sovsport.ru</string>
				<key>rss</key>
				<string>http://www.sovsport.ru/news_rss</string>
				<key>sortKey</key>
				<integer>1</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>40</integer>
                <key>title</key>
                <string>soccer.ru</string>
                <key>rss</key>
                <string>https://www.soccer.ru/rss.xml</string>
                <key>sortKey</key>
                <integer>2</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>41</integer>
                <key>title</key>
                <string>sport-express.ru</string>
                <key>rss</key>
                <string>http://www.sport-express.ru/services/materials/news/se/</string>
                <key>sortKey</key>
                <integer>3</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>42</integer>
                <key>title</key>
                <string>sports.ru</string>
                <key>rss</key>
                <string>http://www.sports.ru/rss/topnews.xml</string>
                <key>sortKey</key>
                <integer>4</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>43</integer>
                <key>title</key>
                <string>f1news.ru</string>
                <key>rss</key>
                <string>https://www.f1news.ru/export/news.xml</string>
                <key>sortKey</key>
                <integer>5</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>44</integer>
                <key>title</key>
                <string>allboxing.ru</string>
                <key>rss</key>
                <string>http://allboxing.ru/atom.xml</string>
                <key>sortKey</key>
                <integer>6</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>45</integer>
                <key>title</key>
                <string>sportrbc.ru</string>
                <key>rss</key>
                <string>http://static.feed.rbc.ru/rbc/logical/footer/sport_newsline.rss</string>
                <key>sortKey</key>
                <integer>7</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>title</key>
		<string>home.womans</string>
		<key>icon</key>
		<string>menu.womans</string>
		<key>newspapers</key>
		<array>
            <dict>
                <key>id</key>
                <integer>46</integer>
                <key>title</key>
                <string>vogue.ru</string>
                <key>rss</key>
                <string>http://www.vogue.ru/rss</string>
                <key>sortKey</key>
                <integer>0</integer>
                <key>deprecated</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>47</integer>
                <key>title</key>
                <string>elle.ru</string>
                <key>rss</key>
                <string>http://www.elle.ru/rss/elle_ru/rss.xml</string>
                <key>sortKey</key>
                <integer>1</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>48</integer>
                <key>title</key>
                <string>lisa.ru</string>
                <key>rss</key>
                <string>http://lisa.ru/feed</string>
                <key>sortKey</key>
                <integer>2</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>49</integer>
                <key>title</key>
                <string>spletnik.ru</string>
                <key>rss</key>
                <string>http://www.spletnik.ru/rss/main</string>
                <key>sortKey</key>
                <integer>3</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>50</integer>
                <key>title</key>
                <string>wday.ru</string>
                <key>rss</key>
                <string>http://www.wday.ru/mediarss_articles.xml</string>
                <key>sortKey</key>
                <integer>4</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
			<dict>
				<key>id</key>
				<integer>51</integer>
				<key>title</key>
				<string>glamour.ru</string>
				<key>rss</key>
				<string>https://www.glamour.ru/rss/wifiru.xml</string>
				<key>sortKey</key>
				<integer>5</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>id</key>
                <integer>52</integer>
                <key>title</key>
                <string>woman.ru</string>
                <key>rss</key>
                <string>http://www.woman.ru/rss</string>
                <key>sortKey</key>
                <integer>6</integer>
                <key>deprecated</key>
                <integer>0</integer>
            </dict>
		</array>
	</dict>
</array>
</plist>
